{% include 'menu.html' %}

<!doctype html>
<html>
<head>
    <title>Welcome to Chimp Test Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="welcome-container">
        <div class="title">
            <span style="--delay:0s;">Welcome to</span>
            <br/>
            <span style="--delay:0.2s;">Chimp Test Game</span>
        </div>
        <p class="game-description">The chimpanzee memory test is a cognitive task designed to assess the memory capabilities of chimpanzees. In this test, participants are presented with a sequence number, which they must remember and recall in the correct order. The test aims to evaluate the capacity of the participants' short term memory.</p>
        <div class="tab-container">

            <a href="{{ url_for('select') }}" class="card">
                <div class="image-box">
                    <img src="{{ url_for('static', filename='images/image1.png') }}" alt="Play Game">
                </div>
                <div class="content">
                    <h2>Play Game</h2>
                </div>
            </a>
            
            <a href="{{ url_for('stats') }}" class="card">
                <div class="image-box">
                    <img src="{{ url_for('static', filename='images/image2.png') }}" alt="Game Stats">
                </div>
                <div class="content">
                    <h2>Game Stats</h2>
                </div>
            </a>
        </div>
    </div>
</body>
</html>

