{% include 'menu.html' %}

<!doctype html>
<html>
<head>
    <title>Select Game Options</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="index-container">
        <div class="tab-container">
            <a href="{{ url_for('select') }}" class="card-index">
                <div class="image-box">
                    <img src="{{ url_for('static', filename='images/image1.png') }}" alt="Play Game">
                </div>
                <div class="content">
                    <h2>Play Game</h2>
                </div>
            </a>
            <a href="{{ url_for('stats') }}" class="card-index">
                <div class="image-box">
                    <img src="{{ url_for('static', filename='images/image2.png') }}" alt="Game Stats">
                </div>
                <div class="content">
                    <h2>Game Stats</h2>
                </div>
            </a>
        </div>
    </div>
</body>

<body>
<form id="selectionForm" action="/select" method="post">
    <div class="main center">
        <div class="box">
            <h2>Select Level</h2>
            <ul>
                <input type="radio" name="level" value="1"> Level 1<br>
                <input type="radio" name="level" value="2"> Level 2<br>
                <input type="radio" name="level" value="3"> Level 3<br>
            </ul>
        </div>
        <div class="box">
            <h2>Challenges</h2>
            <ul>
                <input type="radio" name="challenge" value="timer"> Timer<br>
                <input type="radio" name="challenge" value="none"> None<br>
            </ul>
        </div>

        <div class="input-and-button-container">
            <div class="start-button-container">
                <button type="submit" class="btn">Start Game</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>
