{% include 'menu.html' %}

<!doctype html>
<html>
<head>
    <title>Game Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="index-container">
        <div class="tab-container">
            <a href="{{ url_for('select') }}" class="card-index">
                <div class="image-box">
                    <img src="{{ url_for('static', filename='images/image1.png') }}" alt="Play Game">
                </div>
                <div class="content">
                    <h2>Play Game</h2>
                </div>
            </a>
            <a href="{{ url_for('stats') }}" class="card-index">
                <div class="image-box">
                    <img src="{{ url_for('static', filename='images/image2.png') }}" alt="Game Stats">
                </div>
                <div class="content">
                    <h2>Game Stats</h2>
                </div>
            </a>
        </div>
    </div>
</body>

<body>
    <img src="{{ url_for('static', filename='plots/plot1.png') }}" alt="Test Image" />
    <img src="{{ url_for('static', filename='plots/plot2.png') }}" alt="Test Image" />
    <img src="{{ url_for('static', filename='plots/plot3.png') }}" alt="Test Image" />
</body>
<html>